## Exercise 1 

/exercise01/__pycache__
/exercise01/locust/__pycache__/
/exercise01/locust/downloaded_files 
/exercise01/locust/to_upload_files/large

## Exercise 2

/exercise02/__pycache__
/exercise02/k8s-setup/.vagrant/
/exercise02/k8s-setup/backup/


## Exercise 3
/exercise03/__pycache__
/exercise03/k8s-setup/.vagrant/
/exercise03/results/plotter/

## General

# LaTeX compilation files: 
texfiles/*.aux
texfiles/*.log
texfiles/*.out
texfiles/*.toc
texfiles/*.pdf
texfiles/*.nav
texfiles/*.snm
texfiles/clear.sh

#Draw.io files 
*.drawio.bkp
*.drawio

# editor files
.vscode
./venv
*~
