## Exercise 1 

/exercise01/__pycache__
/exercise01/locust/__pycache__/
# /exercise01/locust/downloaded_files 

## Exercise 2

## Exercise 3

## General

# LaTeX compilation files: 
*.aux
*.log
*.out
*.toc
*.pdf
/clear.sh

# editor files
.vscode
*~
